<div>
  <!-- este link deberia llevar a la pagina de creacion de usuario -->
  <a href="#" class="px-2 py-2 text-white inline-flex items-center rounded bg-indigo-500 hover:bg-indigo-400 focus:outline-none w-auto">
    <span>Crear nuevo usuario</span>
    <svg class="h-6 w-6" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
    </svg>
  </a>

  <br><br><div class="menu flex gap-5 justify-content-between block">
    <br><br><h2 class="text-2xl text-red-800 font-sans mx-7 md:font-sans md:text-3xl md:mx-10">
      LISTA DE USUARIOS</h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="">Codigo</th>
        <th>Nombre</th>
        <th>Correo Electrónico</th>
        <th>Rol</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody id="datos">

      <% usuario.forEach(function(elem) { %>
      <tr>
        <td><%= elem.id %></td>
        <td><%= elem.nombre_completo %></td>
        <td><%= elem.correo %></td>
        <td><%= elem.rol.toUpperCase() %></td>
        <td>
          <form action="editar" method="POST">
            <input type="hidden" name="id" value="<%= elem.id %>" />
            <input type="submit" value="Editar"
            class="bg-red-600 hover:bg-red-400 text-white font-bold py-1 px-2 border-b-4 border-black-700 hover:border-black-500 rounded" />
          </form>
        </td>
      </tr>


      <% }) %>
    </tbody>
  </table>

  <form action="agregar" style="display:inline">
    <input type="submit" value="Crear Usuario" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" />
  </form>
</div>
